<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="./css/style.css"></style>
	<link rel="icon" href="./img/weather.png">
</head>
<body>
	<div class="main-content">
		{{>header}}

		<p>This site is created by Minghui Dong. It uses data from darksky.com and mapbox.com.</p>
		<img src="/img/IMG_0956.jpeg" alt="portrait" class="portrait">
	</div>
	
	{{>footer}}
</body>
</html>